<!DOCTYPE html>
<html>
  <head>
    <title>File Sharing</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <section class="container">
      <div class="logout">
        <p>Welcome <%= username %></p>
        <button onclick="onClickedLogout()">LOGOUT</button>
      </div>
      <div class="file-container">
        <div class="file-header">
          <h1>Your File</h1>
          <div>
            <input type="file" class="hidden-file-input" id="file-input" />
            <button onclick="handleFileUpload('<%= token %>')">Upload File</button>
          </div>
        </div>
        <div class="file-table">
          <% if (files.length === 0) { %>
          <div class="not-found">Please Upload Your File</div>
          <% } else { %>
          <div class="file-row header" id="header">
            <div class="index">Item</div>
            <div class="filename">Filename</div>
            <div class="short-col">Size</div>
            <div>Format</div>
            <div>Owner</div>
            <div>Download</div>
            <div class="short-col">Share File</div>
          </div>
          <div id="file-container">
            <% for (let i = 0; i < files.length; i++) { %>
            <div class="file-row">
              <div class="index"><%= i+1 %></div>
              <div class="filename"><%= files[i].filename %></div>
              <div class="short-col"><%= files[i].size %></div>
              <div><%= files[i].format %></div>
              <div><%= files[i].ownerName %></div>
              <a href="<%= files[i].url %>" class="download">Download</a>
              <div class="short-col">
                <a class="download" onclick="showShareModal('<%= files[i]._id %>','<%= token %>')">Share</a>
              </div>
            </div>
            <% } %>
          </div>
          <% } %>
        </div>
      </div>
    </section>
    <!-- Share Modal -->
    <div id="shareModal" class="modal">
      <div class="modal-content">
        <span class="close" onclick="hideShareModal()">&times;</span>
        <!-- Add your share modal content here -->
        <h1>Select User</h1>
        <div class="form-content-container">
        <% users.forEach(user => { %>
        <div class="checkbox-container">
          <div class="checkbox">
            <input
              type="checkbox"
              id="<%= user._id %>"
              name="users"
              value="<%= user._id %>"
            />
            <label for="<%= user._id %>"><%= user.username %></label>
          </div>
        </div>
        <% }); %>
        <button onclick="shareFile()">Share File</button>
        </form>
      </div>
    </div>
  </body>
  <script>
    let selectedFileId = ''
    let token = ''
    function handleFileUpload(accessToken) {
      const fileInput = document.getElementById('file-input');
      fileInput.addEventListener('change', () => {
        const file = fileInput.files[0];
        if (file) {
          const formData = new FormData();
          formData.append('file', file);
          fetch('/file-upload', {
            method: 'POST',
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              // Update the file content in the EJS template
              const fileContainer = document.getElementById('file-container');
              fileContainer.innerHTML = generateFileRows(data.files, accessToken);
            })
            .catch((error) => {
              console.error(error);
            });
        }
      });

      fileInput.click();
    }

    function setSelectedFileId(id) {
      selectedFileId = id;
    }

    function generateFileRows(files, accessToken) {
      if (files.length === 0) {
        // Render Empty File
        return '<div class="not-found">Please Upload Your File</div>';
      } else {
        // Generate the file rows
        return files
          .map((file, index) => {
            return `
              <div class="file-row">
                <div class="index">${index + 1}</div>
                <div class="filename">${file.filename}</div>
                <div class="short-col">${file.size}</div>
                <div>${file.format}</div>
                <div>${file.ownerName}</div>
                <a href="${file.url}" class="download">Download</a>
                <div class="short-col">
                <a class="download" onclick="showShareModal('${file._id}', '${accessToken}')">Share</a>
              </div>
              </div>
            `;
          })
          .join('');
      }
    }

    function onClickedLogout() {
      fetch('/auth/logout', {
        method: 'POST',
      })
        .then((response) => response.json())
        .then(() => {
          window.location.href = '/';
        });
    }

    function showShareModal(id, accessToken) {
      const modal = document.getElementById('shareModal');
      modal.style.display = 'block';
      setSelectedFileId(id)
      if (!token) token = accessToken
    }

    function hideShareModal() {
      const modal = document.getElementById('shareModal');
      modal.style.display = 'none';
      setSelectedFileId('')
    }

    function shareFile() {
      const form = document.querySelector('.form-content-container');
      const checkboxes = form.querySelectorAll('input[name="users"]:checked');
      const selectedUsers = Array.from(checkboxes).map(input => input.value);

      const requestBody = {
        sharedUserId: [...selectedUsers]
      }

      fetch(`/share/${selectedFileId}`, {
        method: 'POST',
        headers: {
          'Authorization': `Bearer ${token}`,
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(requestBody),
      }).then((response) => response.json())
        .then(() => {
          hideShareModal();
        });

      // Clear checked checkboxes
      checkboxes.forEach(checkbox => {
        checkbox.checked = false;
      });

      return false; // Prevent form submission
    }
  </script>
</html>
